src/Configuration/Bvn404HandlerConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="BVNetwork404HandlerConfiguration" elementFormDefault="qualified" targetNamespace="BVNetwork404HandlerConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="bvn404Handler" type="tns:BVNetwork.NotFound.Configuration.Bvn404HandlerConfigurationCT" />
	<xs:complexType name="BVNetwork.NotFound.Configuration.Bvn404HandlerConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="providers" type="tns:BVNetwork.NotFound.Configuration.Bvn404HandlerProvidersCT">
				<xs:annotation>
					<xs:documentation>The Bvn404HandlerProviders.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="redirectsXmlFile" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RedirectsXmlFile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="handlerMode" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The HandlerMode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fileNotFoundPage" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FileNotFoundPage.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="threshold" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Threshold.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bufferSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The BufferSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="logging" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Logging.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ignoredResourceExtensions" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The IgnoredResourceExtensions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BVNetwork.NotFound.Configuration.Bvn404HandlerProvidersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:BVNetwork.NotFound.Configuration.Bvn404HandlerProviderCT">
				<xs:annotation>
					<xs:documentation>The Bvn404HandlerProvider Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BVNetwork.NotFound.Configuration.Bvn404HandlerProviderCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
